@model IEnumerable<CourseWorkMVC.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Группы</h1>

<div class="mt-3">
    <a class="btn btn-dark" asp-action="Create">Добавить</a>
</div>
<table class="table mt-3" >
    <thead>
    <tr>
            <th>
                Группа
            </th>
            <th>
                Дата начала учёбы
            </th>
            <th>
                Специальность
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
                    string date = item.BeginDate.ToString("dd/MM/yyyy");
                }
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                <a asp-controller="Majors" asp-action="Details" asp-route-id="@item.Major.Id">
                @Html.DisplayFor(modelItem => item.Major.Name)
                </a>
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |

                @if (!item.Students.Any())
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                }            
                </td>
        </tr>
}
    </tbody>
</table>
