@model CourseWorkMVC.Models.Subject

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Majors)
        </dt>
        <dd>
            <ul>
                @foreach (var major in Model.Majors)
                {
                    <li>@major.Name</li>
                }
            </ul>
        </dd>
    </dl>

</div>
<div>
    <a class="btn btn-dark" asp-action="Index">Список предметов</a>
</div>
